body {
    font-family: 'Source Code Pro', 'Courier', monospace;
    margin: 0;
    padding: 0;
    background-color:lavender;
}
.container{
	padding: 0;
}
canvas {
    background: #000;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

a {
    border-bottom: 2px solid #31ffd5;
}

a:hover {
    background:#31ffd5;
}

.container {
    width: 100%;
}



.main-header, .main-footer {
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
}

.main-header {
    margin-top: 0;
    margin-bottom: 2em;
}

.main-header h1 {
    margin: 0;
    background: #31ffd5;
    padding: 0.5em 1em;
}

.main-header a {
    color: #000;
    text-decoration: none;
}

.main-footer {
    margin-top: 2em;
}

li, p {
    line-height: 1.25em;
}

li {
    margin: 0.5em 0;
}

@media (min-width: 1200px)
grid.less:7
.container {
    width: 100%;
}
